<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2015年，大学毕业无一技之长，在济南做了医疗软件实施。</p>
        <p>2018年，转岗，写公司C##银医通类接口。</p>
        <p>2019年，转岗，转JAVA，做公司内部应用平台。</p>
<!--
        <h2>Articles</h2>
        <p>几篇文章，方便让你快速了解我</p>

        <ul>
           <li>
            2016-11-20  <strong><a href="http://www.ityouknow.com/life/2016/11/20/six-years-program.html" target="_blank">六年程序生涯
                </a></strong>
          </li>
          <li>
            2017-01-10  <strong><a href="http://www.ityouknow.com/arch/2017/01/10/ten-billion-architecture-history.html">从零到百亿互联网金融架构发展史
              </a></strong>
            </li>
          <li>
           2017-02-16  <strong><a href="http://www.ityouknow.com/arch/2017/02/16/ten-billion-gold-platform-firefighting-story.html">百亿互金平台救火故事
              </a></strong>
          </li>
          <li>
            2017-03-26  <strong><a href="http://www.ityouknow.com/life/2017/03/26/programmer-confused.html">你看那个人他像一条狗
            </a></strong>
          </li>
          <li>
            2019-05-15  <strong><a href="http://www.ityouknow.com/life/2019/05/15/freelance.html">自由职业一时爽，一直自由一直爽
            </a></strong>
          </li>
           <li>
            2019-06-28  <strong><a href="http://www.ityouknow.com/life/2019/06/28/do-it.html">第二期，开干！
            </a></strong>
          </li>
        </ul>
        -->

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Github：<a href="https://github.com/li708851221">https://github.com/li708851221</a></li>
        </ul>

       <h2>
         Note
       </h2>

        博主刚转JAVA开发工作，作为一个JAVA菜鸟，正在努力学习，希望自己能在技术的道路上不断进步。

        博客现状：fock大佬博客后保留了所有[纯洁的微笑](http://www.ityouknow.com)大佬的教程。在此感谢纯洁的微笑大佬的spring boot和spring cloud系列教程带我入门。

        博客未来：1.温故知新，用spring新版本重写spring boot和spring cloud文章。
        &emsp;&emsp;&emsp;&emsp;&emsp;2.记录自己学习中的其他知识。

        <p>
            博主刚转JAVA开发工作，作为一个JAVA菜鸟，正在努力学习，希望自己能在技术的道路上不断进步。
       </p>

        <p>
            博客现状：fock大佬博客后保留了所有<a href="http://www.ityouknow.com">纯洁的微笑</a>大佬的教程。在此感谢纯洁的微笑大佬的spring boot和spring cloud系列教程带我入门。
        </p>

        <p>
            博客未来：
        </p>
       <ul>
         <li>1.温故知新，用spring新版本重写spring boot和spring cloud文章。
        </li>
        <li>2.记录自己学习中的其他知识。
        </li>
       </ul>


       <p>
        最后，感谢您在茫茫人海中阅读了我的文章。
       </p>

       <h2>
         History
       </h2>

       <ul>
            <li>2019年，建站，托管于 Github Pages。</li>
            <li>待续</li>
        </ul>

       <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放)
       </p>
<!--
       <p align="center">
         <img src="/assets/images/tip.jpg" />
         <br/>
         微信扫一扫
       </p>
-->
        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>
