<div>
   <p align="center">
         	  {% if page.copyright %}
             <img src="/assets/images/{{ page.copyright }}.jpg" >
              {% endif %}
       <br/>
   </p>
   <p align="center" style="margin-top: 15px; font-size: 16px;color: #cc0000;">
       {% if page.copyfromurl %}
       <strong>（本文章转载自 <a href="{{ page.copyfromurl }}">{{ page.copyfromname }}</a>）</strong>
       {% else %}
       <strong> <strong>（转载请注明作者和出处 <a href="https://li708851221.github.io">李长伟的博客</a>）</strong></strong>
       {% endif %}
   </p>
</div>
