<div>
   <p align="center">
         	  {% if page.copyright %}
             <img src="/assets/images/{{ page.copyright }}.jpg" >
              {% endif %}
   </p>
   <p align="center" style="margin-top: 15px; font-size: 16px;color: #cc0000;">
       {% if page.copyrighturl %}
       <strong>（本文章转载自 <a href="{{ page.copyrighturl }}">{{ page.copyrightname }}</a>）</strong>
       {% else if page.copyrighturl %}
       <strong>（本文章转载自 <a href="https://www.ityouknow.com">纯洁的微笑-ityouknow</a>）</strong>
       {% endif %}
   </p>
</div>
